@model Project.Models.Database.StudentExam

@{
    ViewData["Title"] = "Registration";
}
 

<h4>Registration for exam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="idStud" class="control-label"></label>
                <input asp-for="idStud" class="form-control" />
                <span asp-validation-for="idStud" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="idExam" class="control-label"></label>
                <select asp-for="idExam" asp-items="ViewBag.subjects" class="form-control"></select>
                <span asp-validation-for="idExam" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

